* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
    margin-bottom: 20px;
}

body {
	background-color: white;
}

.frame {
	display: flex;
	flex-direction: column;
}

/* navigator */

.navigator {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
	margin-bottom: 10px;
	padding: 0 45px;
}

li {
	display: inline;
	margin: 0;
	margin-left: 15px;
	list-style-type: none;
}

ul {
	margin: auto;
	margin-right: 100px;
}

.site-name {
	padding-left: 40px;
	margin: auto;
	margin-left: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	color: black;

}

.nav-menu {
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	padding-left: 20px;
	color: #5b507a;
	font-weight: bold;
}


a {
	color: black;
	font-size: 20px;
	font-family: 'Montserrat',sans-serif;
	font-weight: bold;
	text-decoration: none;
}

p{
	color: black;
	font-size: 20px;
	font-family: 'Montserrat',sans-serif;
	font-weight: bold;
}


p:hover{
	color: white;
	transition: 0.3;
}

a:hover {
	color: #ffc145;
	transition: 0.3;
}


/* navigator end */



.img_3{
	width:auto;
	height: 400px;
}

.text_1{
    font-weight: bold;
    padding-top: 30px ;
    font-family: 'Montserrat',sans-serif;
    font-size: 40px;
    color: black;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #D84339;
    margin-bottom: 50px;
}

/* Table */
.tg{
    border-collapse:collapse;
    border-spacing:0;
}

.tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:25px 5px;
    word-break:normal;

}
.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-416c{
    background-color:#fe996b;
    border-color:inherit;
    font-size:22px;
    font-weight:bold;
    text-align:center;
    vertical-align:top
}
.tg .tg-p8sp{
    border-color:inherit;
    font-size:20px;
    text-align:center;
    vertical-align:top
}


